body {
  background-color: #000000;
  color: #FFFFFF; 
}

h2 {
    text-align: center;
}

h1 {
    text-align: center;
}

p {
    color: #FFFFFF;
    text-align: center;
}

#span_1 {
    color: #A6E0D7;
}

a:link, a:visited {
  color: #A6E0D7;
  text-decoration: none;
}

form {
    text-align: center;
}
       
.buttonContainer {
    display: flex;
}
          
button {
    text-align: center;
    font-size: 30px;
    margin: auto;
}
          
div {
    text-align: center;
}
          
#question {
    font-size: 30px;
}
