<!DOCTYPE html>
<html>
<head>
    
    <title>The HOME page</title>
    <link rel="stylesheet" type="text/css" href="css/home.css">
    
</head>

<body>
    <p>
        Welcome to my home page
    </p>
    
    <h3>Update the count</h3>
    
    <button type="button" onclick="increment_and_update()">Click me</button>
    
    <p id="id_display"></p>
    
    <script type="text/javascript" src="js/set_cookie.js"></script>
    
</body>

</html>