<!DOCTYPE html>
<html>
<title>
	Dinosaur Voting
</title>
<link rel="stylesheet" href="css/voting_lab.css">
<body>
    <h1>Still under construction!!!</h1>
	<h3>Vote for your favorite dinosaur!</h3>
	
	<form action="dino_votes/view_dino_votes" method="GET">
    	<div class="row">
    	    <div class="column">
    	        <img src="img/rex.jpg" alt="T-Rex wearing a sweater named Rex" width="250px" height="250px"><br>
    	        <input type="radio" name="votes" value="0">Rex<br>  
    	    </div>
    	    <div class="column">
    	        <img src="img/john.jpg" alt="Ankylosaurus named John" width="250px" height="250px"><br>
    	        <input type="radio" name="votes" value="1">John<br>  
    	    </div>
    	    <div class="column">
    	        <img src="img/asteroid.jpg" alt="Brachiosaurus named Asteroid" width="250px" height="250px"><br>
    	        <input type="radio" name="votes" value="2">Asteroid<br>  
    	    </div>
    	</div>
    	
    	<button type="submit" value="submit">Submit</button>
    </form>
	
</body>
</html>