<!DOCTYPE html>
<html>
    <body>
        <h2>HTML Forms</h2>
        <form action="form_render" method="POST">
            Noun: <input type="text" name="noun"><br>
            Adjective: <input type="text" name="adjective"><br>
            Person in the room: <input type="text" name="person"><br><br>
            
            Verb: 
            <select name="verb-list">
            <option value="10">Running</option>
            <option value="11" selected="selected">Flying</option>
            <option value="12">Swimming</option>
            </select><br><br>
            
            Location: <br>
            <input type="radio" name="picture_selection" value="tree">Tree<br>  
            <input type="radio" name="picture_selection" value="lake">Lake<br>  
            <input type="radio" name="picture_selection" value="mountain">Mountain<br> <br>
            
            <button type="submit" value="submit">Submit</button>
        </form>
    </body>
</html>
</html>