<!DOCTYPE html>
<html>
<head>
	<title>Saloni Shah</title>
	<link rel="stylesheet" href="css/home.css">
</head>
<body>
	<div class="header">
	    <h1>Welcome to my webpage!</h1>
	</div>
	
	<div class="navbar">
	    <h3>
    	    <a href="./some_css.html">CSS</a>
	        <a href="./some_js.html">JS</a>
    	    <a href="http://user.tjhsst.edu/2023sshah/madlib_form">MadLibs</a>
    	</h3>
    </div>
    
</body>
</html>
