<!DOCTYPE html>
<html>
<head>
	<title>My List Page</title>
</head>
<body>
	<h3>The list page</h3>
	
	<div>
	Here is a list of things:
	    <ul>
            {{#each thingz}}
            <li>{{this}}</li>
            {{/each}}
	    </ul>
	</div>
	
</body>
</html>