<!DOCTYPE html>
<html>
<head>
	<title>Numbers Lab</title>
</head>
<body>
	<h3>The numbers lab</h3>
	
	<div>
	Here is a list of things:
	    <ul>
            {{#each nums}}
            <li><a href="https://user.tjhsst.edu/2023sshah/numbers/{{this}}">{{this}}</a></li>
            {{/each}}
	    </ul>
	</div>
	
</body>
</html>