<!DOCTYPE html>
<html>
<head>
	<title>Numbers Lab</title>
</head>
<body>
	<h1>The numbers lab</h1>

	<div>
	Here are a list of numbers from 1-100:
	    <ul>
            {{#each nums}}
            <li><a href="https://user.tjhsst.edu/2023sshah/numbers/{{this}}">{{this}}</a></li>
            {{/each}}
	    </ul>
	</div>
	
</body>
</html>