<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="./../css/basic.css">
    <title>Rate the Book!</title>
    <body>
        <p>
           <a class="button" href="javascript:void(0);" onclick="getBook('fiction')">Fiction</a>
           <a class="button" href="javascript:void(0);" onclick="getBook('non-fiction')">Non-Fiction</a>
           <a class="button" href="javascript:void(0);" onclick="getBook('historical fiction')">Historical Fiction</a>
           <a class="button" href="javascript:void(0);" onclick="getBook('science fiction')">Science Fiction</a>
           <a class="button" href="javascript:void(0);" onclick="getBook('fantasy')">Fantasy</a>
           <a class="button" href="javascript:void(0);" onclick="getBook('biography')">Biography</a>
        </p>
        <div id="results"></div>
        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script type="text/javascript">
            function getBook(genre) {
                var ajax_params = {
                    'url' : `https://user.tjhsst.edu/2023sshah/points/sql_ajax_101_worker?genre=${genre}`,
                    'type' : "get",
                    'success' : onServerResponse
                }
                
                $.ajax(ajax_params)
            }
            
            function onServerResponse(responseString) {
                console.log(responseString)
                document.getElementById('results').innerHTML = responseString;
            }
            
        </script>
    </body>
</html>