<!DOCTYPE html>
<html>
<head>
	<title>Ion Schedule</title>
</head>
<body>
    <h1>Still under construction!!!</h1>
	<h3>Here is the the schedule for today, {{date}}, a {{name}}.</h3>
	
	<div>
	    <ul>
	        {{#each schedule}}
            <li>{{this}}</a></li>
            {{/each}}
	    </ul>
	</div>
	
	<a href="./">Go back</a>
	
</body>
</html>