<!DOCTYPE html>
<html>
<head>
	<title>Log In!</title>
    <link rel="stylesheet" type="text/css" href="./../css/basic.css">
	
</head>
<body>
	<h1>Please Login using Ion to access the features of this site:<br></h1>
	
	<h2><a href="{{login_link}}">Login Using Ion</a></h2>
	
	<script type="text/javascript">

	</script> 
</body>
</html>