<!DOCTYPE html>
<html>
<head>
	<title>Welcome!</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="./../css/basic.css">
</head>
<body>
<div class="container"> 
	<h1>You have successfully logged into the VIP page (you are <strong><em>the</em></strong> VIP).<br></h1>
	
	<h2>
	    Click <a href="./my_ion_info">here</a> to go to the profile.<br><br>
	    Click <a href="././logout">here</a> to logout.
	</h2>
</body>
</html>