<!DOCTYPE html>
<html>
<title>
	Dinosaur Voting
</title>
<body>
    <h1>Still under construction!!!</h1>
	<h3>Vote results</h3>
	
	
	<div>
	    <ul>
	        {{#each dino}}
            <li>{{this.d_name}} has {{this.votes}} votes.</a></li>
            {{/each}}
	    </ul>
	</div>
	
</body>
</html>