<!DOCTYPE html>
<html>
<title>
	Dinosaur Voting
</title>
<body>
    <h1>Still under construction!!!</h1>
	<h3>Vote results</h3>
	
	
	<div>
	    <h3>Rex</h3>
	    <p>Rex has {{r_votes}} votes!</p>
	    
	    <h3>John</h3>
	    <p>John has {{j_votes}} votes!</p>
	    
	    <h3>Asteroid</h3>
	    <p>Asteroid has {{a_votes}} votes!</p>
	</div>
	
</body>
</html>