<!DOCTYPE html>
<html>
<title>
	Dinosaur Voting
</title>
<body>
    <h1>Still under construction!!!</h1>
	<h3>Vote results</h3>
	
	<div class="row">
	    <div class="column">
	        <img src="img/rex.jpg" alt="T-Rex wearing a sweater named Rex" width="250px" height="250px"><br>
	    </div>
	    <div class="column">
	        <img src="public/static_files/img/john.jpg" alt="Ankylosaurus named John" width="250px" height="250px"><br>
	    </div>
	    <div class="column">
	        <img src="img/asteroid.jpg" alt="Brachiosaurus named Asteroid" width="250px" height="250px"><br>
	    </div>
	</div>
	
	<a href="./">Go back</a>
	
</body>
</html>