<!DOCTYPE html>
<html>
<title>
	Dinosaur Voting
</title>
<style>
    body {
        background-color: #000000;
    }
    h1 {
        color: #FFFFFF;
    }
    h3 {
        color: #FFFFFF;
    }
    p {
        color: #FFFFFF;
    }
</style>

<body>
	<h1>Vote results</h1>
	
	<div>
	    <h3>Rex</h3>
	    <p>Rex has {{r_votes}} votes!</p>
	    
	    <h3>John</h3>
	    <p>John has {{j_votes}} votes!</p>
	    
	    <h3>Asteroid</h3>
	    <p>Asteroid has {{a_votes}} votes!</p>
	</div>
</body>
</html>