<!DOCTYPE html>
<html>
    <body>
        <h2>Weather</h2>
        <form action="form_render" method="GET">
            Latitude: <input type="text" name="lat"><br>
            Longitude: <input type="text" name="long"><br>
            
            <button type="submit" value="submit">Submit</button>
        </form> <br>
        
        <a href="./">Go Back</a>
        
    </body>
</html>
</html>