<!DOCTYPE html>
<html>
<head>
	<title>Wordle Assistant</title>
</head>
<body>
	<h1>Wordle Assistant</h1>
	<div>
        <input type="text" id="input"><br>
        <br>
	</div>
    <button type="button" onclick="fetchFromServer()">Search</button>
    <br>
    <div id="generatedWords">
    </div>
    
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    
    <script type="text/javascript">
	
    function fetchFromServer() {
        var ajax_params = {
            'url'     : `https://user.tjhsst.edu/2023sshah/word_finder/enable`,
            'type'    : "get",
            'dataType' : "json",
            'data' : document.getElementById("input").value,
            'success' : doSomethingWhenYouGetDataBack    // the name of the callback function to call
        }
        // run AJAX function 
        $.ajax( ajax_params )
    }

    function doSomethingWhenYouGetDataBack(response) {
        var text = "";
        var responseArray = Object.values(response)
        console.log(responseArray)
        
        for(let i = 0; i < response.length; i++) {
            text += response[i] + ", "
        }
        
        console.log(text)
        
        document.getElementById("generatedWords").innerHTML = text;
    }
    
    </script>
</body>
</html>