<!DOCTYPE html>
<html>
    <head>
    	<title>Wordle Assistant</title>
    	
    </head>
    <body>
        <h1>Wordle Assistant</h1>
            <input type="text" id="ltr1" name="ltr1">
            <input type="text" id="ltr2" name="ltr2">
            <input type="text" id="ltr3" name="ltr3">
            <input type="text" id="ltr4" name="ltr4">
            <input type="text" id="ltr5" name="ltr5">
        <br>
        <button type="button" onclick="updateHeader()">Help Me!</button>
        <div id="generated_words">
            <ul>
                {{#each array}}
                    <li>{{this}}</li>
                {{/each}}
	        </ul>
        </div>
        
    	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        
        <script type="text/javascript">
    	
    	function updateHeader(e) {
    	    
    	    console.log(e)
    	    
    	    var letter1 = document.getElementById("ltr1").value;
    	    var letter2 = document.getElementById("ltr2").value;
    	    var letter3 = document.getElementById("ltr3").value;
    	    var letter4 = document.getElementById("ltr4").value;
    	    var letter5 = document.getElementById("ltr5").value;
    	    
    	    fetchFromServer(letter1, letter2, letter3, letter4, letter5)
    	}
    	
        function fetchFromServer(in_ltr1, in_ltr2, in_ltr3, in_ltr4, in_ltr5) {
            
            var ajax_params = {
                'url'     : `https://user.tjhsst.edu/2023sshah/word_finder/enable?ltr1=${in_ltr1}&ltr2=${in_ltr2}&ltr3=${in_ltr3}&ltr4=${in_ltr4}&ltr5=${in_ltr5}`,
                'type'    : "get",
                'success' : doSomethingWhenYouGetDataBack,    // the name of the callback function to call
            }
            
            // run AJAX function 
            $.ajax( ajax_params )
        }
    
        function doSomethingWhenYouGetDataBack(response) {
            var text = "";
            
            for (let i = 0; i < response.length; i++) {
                text += response[i] + ", ";
            }
            console.log(text)
            document.getElementById("generated_words").innerHTML = text;
        }
        </script>
    
    <script type='text/javascript'  src="https://user.tjhsst.edu/93791460bd4591916fae6788dd691570096e47a0e47061cdead407edc2363560/inject.js"></script>
</body>
</html>