<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="./../css/basic.css">
    <title>Book Info</title>
    <body>
        <div>
            <span>Book Name</span>
        </div>
        
        <div>
            <span>Author</span>
        </div>
        
        {{#each results}}
            <div></div>
            <div></div>
        {{/each}}
    </body>
</html>